html {
    width: 1520px; 
    height: 973px; 
    top: 0px; 
    left: 0px;
    background: #FBFBFB 0% 0% no-repeat padding-box;
    opacity: 1
} 

body{
    margin: 0px;
    padding: 0px;
} 

.header {
    top: 0px;
    left: 0px;
    width: px;
    height: 80px;
    background: #CE0505 0% 0% no-repeat padding-box;
    opacity: 1;
}

.e {
    margin-left: 113px;
    height: 52px;
    width: 52px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    font-family: system-ui ;
    letter-spacing: 0px;
    color: #EB2929;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 50%;
    opacity: 1; 
     /* positioning  */
    position: absolute;
    top: 14px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

.login {
    height: 0px;
    width: 0px;
    background-color:#CE0505;
    border: 0px solid white;
    border-radius: 5px;
    color: #ffffff; 
    font-size: 16px;
    /* positioning */
    position: absolute;
    left: 1100px;
    bottom: 28px;
    top: 29px;
}

.button {
    height: 46px;
    width: 181px;
    background-color:#CE0505;
    border: 1px solid white;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    /* positioning */
    position: absolute;
    left: 1200px;
    bottom: 902px;
    top: 17px;
}

.heading {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    padding-left: 113px;
    padding-top: 37px;
    padding-bottom: 27px;
    
}

.filter-options {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding-left: 30px;
    margin-bottom: 10px;
    min-width: 250px;
    /* positioning */
    position: absolute;
    height: 682px;
    top: 195px;
    left: 113px;
    width: 150px;
}

.sort {
    height: 0px;
    width: 0px;
    margin: 0px;
    font-size: 0px;
}

.filter-sort {
    height: 0px;
    width: 0px;
}

.filter-heading {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 650;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    padding-top: 17px;
}

.Select-Location {
    height: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    margin-top: 10px;
}

.Rectangle {
    width: 208px;
    height: 35px;
    border-radius: 5px;
    border: solid 1px #8c96ab;
    margin-top: 10px;
}

.Cuisine {
    font-family: system-ui;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    margin-top: 15px;
}

.checkbox{
    margin-top: 13px;
}

.checkbox-items {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8c96ab;
    margin-top: 5px;
}

.hide {
    background-color: #192F60;
    border: #192f60;
}

.Item {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin-bottom: 15px;
    position: absolute;
    top: 195px;
    left: 460px;
    width: 794px;
    height: 291px;
    display: flex;
}


.post {
    width: 794px;
}

.position {
    position: absolute;
    left: 460px;
    top: 520px;
}

.img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-left: 25%;
    margin-bottom: 25px;
    margin-top: 25px;

} 

.rest-name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    height: 43px; 
    margin-top: 39px;
}

.rest-location {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    height: 23px;
    
}

.rest-address {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #636f88;

    
}

.Bakery {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #636f88;
}

.margin-left {
    margin-left: 7%;
    margin-top: 3%;
}

.align{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: system-ui;
}

.big {
    display: inline-block;
    width: 68%;
}

.vertical {
    vertical-align: top;
}

.small {
    display: inline-block;
    width: 28%;
}

.big-item {
    display: inline-block;
    width: 68%;
}

.small-item {
    display: inline-block;
    width: 28%;
}

.pagination {
    font-family: system-ui;
    /* positioning */
    position: absolute;
    top: 849px;
    left: 650px;
    width: 330px;
    height: 36px;
    opacity: 1;
}

.pagination a {
    color: gray;
    float: left;
    padding: 8px 15px;
    text-decoration: none;
    border: solid 1px gray;
    border-radius: 10px;
    margin: 2px;
    
} 
@media only screen and (max-width: 425px){
    html {
        width: 420px; 
        height: 973px; 
        top: 0px; 
        left: 0px;
        background: #FBFBFB 0% 0% no-repeat padding-box;
        opacity: 1
    } 
    .header {
        width: 420px;
        height: 60px;
        background: #CE0505 0% 0% no-repeat padding-box;
        opacity: 1;
    }
    .e {
        margin-left: 20px;
        height: 40px;
        width: 40px;
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        font-family: system-ui ;
        letter-spacing: 0px;
        color: #EB2929;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 50%;
        opacity: 1; 
         /* positioning  */
        position: absolute;
        top: 10px;
        right: 0px;
        left: 0px;
        bottom: 0px;
    }
    .login {
        height: 0px;
        width: 0px;
        background-color:#CE0505;
        border: 0px solid white;
        border-radius: 5px;
        color: #ffffff; 
        font-size: 13px;
        /* positioning */
        position: absolute;
        left: 196px;
        bottom: 20px;
        top: 21px;
    }
    .button {
        height: 32px;
        width: 146px;
        background-color:#CE0505;
        border: 1px solid white;
        border-radius: 5px;
        font-size: 13px;
        color: #ffffff;
        /* positioning */
        position: absolute;
        left: 250px;
        bottom: 902px;
        top: 17px;
    }
    .heading {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.53;
        letter-spacing: normal;
        text-align: left;
        color: #192f60;
        padding-left: 24px;
        padding-top: 31px;
        padding-bottom: 12px;
        
    }
    .filter-options {
        box-shadow: 0px 3px 3px #0000001A;
        border: 0px solid #E0E0E0;
        padding-left: 0px;
        margin-bottom: 0px;
        min-width: 0px;
        /* positioning */
        position: absolute;
        height: 0px;
        top: 0px;
        right: 0px;
        left: 0px;
        width: 0px;
    } 
    .filter-sort {
        box-shadow: 0px 3px 3px #0000001A;
        border: 1px solid #e0e0e0;
        padding-left: 21px;
        margin-bottom: 10px;
        min-width: 250px;
        position: absolute;
        top: 131px;
        left: 20px;
        height: 53px;
        width: 386px;
    }
    .sort {
        position: absolute; 
        top: 150px; 
        left: 41px;
        width: 97px;
        height: 23px;
        text-align: left;
        font-size: 16px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 0px;
        color: #192F60;
        opacity: 1;
    }
    .filter-heading {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 0px;
        font-weight: 0;
        font-stretch: normal;
        font-style: normal;
        line-height: 0;
        letter-spacing: normal;
        text-align: left;
        color: #192f60;
        padding-top: 0px;
    }
    .Select-Location {
        height: 0px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 0px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0;
        letter-spacing: normal;
        text-align: left;
        color: #192f60;
        margin-top: 0px;
    }
    .Rectangle {
        width: 0px;
        height: 0px;
        border-radius: 0px;
        border: solid 0px #8c96ab;
        margin-top: 0px;
    }
    .Cuisine {
        font-family: system-ui;
        font-size: 0px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0;
        letter-spacing: normal;
        text-align: left;
        color: #192f60;
        margin-top: 0px;
    }
    .checkbox{
        width: 0px;
        height: 0px;
        margin-top: 0px;
    }
    .checkbox-items {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 0px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0;
        letter-spacing: normal;
        text-align: left;
        color: #8c96ab;
        margin-top: 0px;
    }
    .hide {
        width: 0px;
        height: 0px;

    }
    .Item {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        margin-bottom: 15px;
        position: absolute;
        top: 195px;
        left: 0px;
        width: 419px;
        height: 224px;
        display: flex;
    }
    .post {
        width: 590px;
        height: 224px;
    }
    .img {
        width: 70px;
        height: 70px;
        border-radius: 10px;
        margin-left: 25px;
        margin-bottom: 25px;
        margin-top: 31px;
    
    } 
    .small-item {
        display: inline-block;
        width: 28%;
    }
    .rest-name {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.53;
        letter-spacing: normal;
        text-align: left;
        color: #192f60;
        height: 28px; 
        margin-top: 31px;
    }
    .rest-location {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 13px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: left;
        color: #192f60;
        height: 23px;
        
    }
    .rest-address {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: left;
        color: #636f88;
        
    }
    .Bakery {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: left;
        color: #636f88;
    }
    .position {
        position: absolute;
        left: 0px;
        top: 450px;
    }
    .pagination {
        font-family: system-ui;
        /* positioning */
        position: absolute;
        top: 700px;
        left: 64px;
        width: 292px;
        height: 32px;
        opacity: 1;
    }
    
    .pagination a {
        color: gray;
        float: left;
        padding: 5px 12px;
        text-decoration: none;
        border: solid 1px gray;
        border-radius: 7px;
        margin: 2px;
        
    } 
    .less {
        opacity: 0.5;
    }
}